{# website/templates/layout.html #}

<!DOCTYPE html>
<html> <!-- This is a comment -->
  <head> <!-- title, scripts, styles, meta information, and more) -->
    <title>My First HTML</title>
    <meta charset="UTF-8">
    <meta name="description=" content="two sentence description of page">
  </head>

  <body> <!-- This is a comment -->

    <h1 style="font-size:60px;">Heading 1</h1>
    <h2>This is heading 2</h2>
    <h3>This is heading 3</h3>
    <p>This is a paragraph.</p>
    <p>This is another paragraph.</p>
    <a href="https://www.w3schools.com">This is a link</a>
    <img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142">
    <button>Click me</button>
    <img src="img_typo.jpg" alt="Girl with a jacket">
    <h1>This is heading 1</h1>
    <p>This is some text.</p>
    <hr>
    <h2>This is heading 2</h2>
    <p>This is some other text.</p>
    <hr>


    <h1 style="color:blue;">This is a heading</h1>
    <p style="color:red;">This is a paragraph.</p>
    <h1 style="font-family:verdana;">This is a heading</h1>
    <p style="font-family:courier;">This is a paragraph.</p>
    <h1 style="font-size:300%;">This is a heading</h1>
    <p style="font-size:160%;">This is a paragraph.</p>
    <h1 style="text-align:center;">Centered Heading</h1>
    <p style="text-align:center;">Centered paragraph.</p>

  </body>
</html>
